keycloak_admin_password     = "REEMPLAZAR"
testuser_password           = "Test1234!"
adminuser_password          = "Admin1234!"
recovery_operator_password = "REEMPLAZAR"
grafana_admin_username      = "admin"
grafana_admin_password      = "REEMPLAZAR"
gateway_base_url            = "http://192.168.56.15:30080"
